body{
    font-family: sans-serif;
    background-image: url("https://images.unsplash.com/photo-1533749047139-189de3cf06d3?q=80&w=872&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    opacity: 0.9;
}

img{
    opacity: 0.5;
}


.container {
    max-width: 600px;
    margin: 60px auto 10px;
    background: white;
    padding: 20px 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

.home {
    margin: 20px 0px;
    padding: 20px;
    color: blue;
}

.home:hover{
    color: black;
}

a:hover {
    color: black;
}

a:visited {
    text-decoration: none;
    color: blue;
}

.city{
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px dashed rgba(0,0,0, 0.2);
}


.city:last-child{
    border-bottom:none;
}

.time{
    font-size: 40px;
    font-weight: bold;
}

.time small{
    font-size: 26px;
    vertical-align: middle;
    line-height: 36px;
}

.date{
    opacity: 0.7;
    font-size: 16px;
}

select{
    display:block;
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px;
}

h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

h2{
    margin: 0 0 10px;
    font-size: 30px;
}

footer{
    text-align: center;
    font-size: 16px;
    max-width: 600px;
        margin: 20px auto;
        background: white;
        padding: 20px 30px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;
  
}